# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HH42_DONGLE

config ZMK_KEYBOARD_NAME
	default "hh42 dongle"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif

if SHIELD_HH42_LEFT || SHIELD_HH42_RIGHT || SHIELD_HH42_DONGLE

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif